html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: rgb(207, 165, 73);
  color: #fff;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  background-color: #0e1e43;
  text-align: center;
  border-radius: 7px;
  max-width: 600px;
  min-width: 320px;
  padding: 16px;
  font-weight: 300;
}

.header-container {
  font-size: 0.8rem;
  border-radius: 7px;
  padding: 12px;
  background-color: #1e2b4e;
}

.inputs-wrapper {
  height: 100%;
  margin-top: 10px;
  background-color: #1e2b4e;
  border-radius: 7px;
  padding: 22px;
}

.count-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 20px;
}

.count-wrapper input {
  padding: 6px;
  margin: 10px;
  width: fit-content;
  background: none;
  border: transparent;
  border-bottom: 1px solid rgb(149, 157, 158);
  color: #fff;
  text-align: center;
  outline: none;
}

.count-wrapper input:focus {
  border: 1px solid rgb(224, 191, 44);
}

.count-wrapper input::-webkit-outer-spin-button,
.count-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.count-wrapper input[type="number"] {
  -moz-appearance: textfield;
}

.error-text {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgb(238, 40, 40);
  font-size: 0.8rem;
}

.deposit-amount {
  margin-top: 10px;
  background-color: #1e2b4e;
  border-radius: 7px;
  padding: 22px;
}

.investment-amount {
  margin-top: 10px;
  background-color: #1e2b4e;
  border-radius: 7px;
  padding: 22px;
}

.subheader-text {
  font-size: 1.2rem;
}